SERVER_PRIVATE_KEY=replace_with_hex_encoded_nostr_secret_key
# RELAYS=wss://relay.contextvm.org
# ATTESTATION_RELAYS=wss://relay.damus.io,wss://relay.primal.net,wss://nos.lol
# BITCOIN_API_URL=https://public-btc.nownodes.io
# LOG_LEVEL=info
